body {
  font-family: "Avenir Next", "Helvetica Neue", Arial, sans-serif;
  font-size: 15px;
  max-width: 750px;
  margin: auto;
  background-color: #fcfcf7;
}

section {
  padding: 5px;
}

img {
  width: 250px;
  height: 250px;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 25px;
}

a {
  text-decoration: none;
  color: #0078e7;
}
